*{
  overflow-x: hidden;
}

.container-02{
  margin-left: 4%;
  margin-right: 4%;
}

.bg-figma{
  background: #1746A2 !important;
}

nav .navbar-brand{
  font-weight: Bold;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

nav .nav-item a{
  font-size: 20px;
  font-weight: Bold;
  font-family: 'Montserrat', sans-serif;
}


.heading p{
  color: #5F9DF7;
  overflow: hidden;
  text-align: center;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.heading h5{
  color: #5F9DF7;
  text-align: center;
  font-family: Poppins;
  overflow: hidden;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
}

.about-row{
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 300;
}

.footer-body img{
  float: left;
}

.bg-pink{
  background: #D67CA9;
}

.bg-blue{
  background: #5F9DF7;
}

.bg-red{
  background: #F56060;
}


.footer-head h4{
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 25px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.footer-body .span{
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 20px;
  margin-left:15%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}