body {
    margin: 0;
    line-height: normal;
  }

  a{
    text-decoration: none;   
  }
  a:hover{
    text-decoration: none !important;    
  }

  .heading h1, h4{
    overflow: hidden;
  }

  .home-section img{
    width: 100%;
}


.footer-head h4{
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
}

.footer-body .span{
  color: #FFF;
  text-align: justify;
  font-family: Montserrat;
  font-size: 17px;
  margin-left:15%;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}